body {
  /* background-color: rgb(42, 41, 41); */
  background-color: #181717;
  margin: 1;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  font-size: 2rem;
}

p {
  color: white;
  font-size: 1.5rem;
}

.link-btn {
  color: white;
  border-radius: 4px;
  background-color: rgb(59, 146, 117);
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
}

.header {
  overflow: hidden;
  background-color: black;
}

.header a {
  float: left;
  text-align: center;
  padding: 20px 24px;
}

.logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: rgb(59, 146, 117);
}

.links a {
  float: right;
  font-size: 24px;
  border-radius: 20px;
  margin: 0 1rem 0 1em;
  color: #fff;
  text-decoration: none;
}




